# =============== #
# Unity generated #
# =============== #
KinectHackEvent/Temp/*
KinectHackEvent\Library\*

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
KinectHackEvent/ExportedObj/
KinectHackEvent/obj/
KinectHackEvent/*.svd
KinectHackEvent/*.userprefs
KinectHackEvent//*.csproj
KinectHackEvent/*.pidb
KinectHackEvent/*.suo
KinectHackEvent//*.sln
KinectHackEvent/*.user
KinectHackEvent/*.unityproj
KinectHackEvent/*.booproj

# ============ #
# OS generated #
# ============ #
KinectHackEvent/.DS_Store
KinectHackEvent/.DS_Store?
KinectHackEvent/._*
KinectHackEvent/.Spotlight-V100
KinectHackEvent/.Trashes
ehthumbs.db
Thumbs.db
KinectHackEvent/Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Bridge.dll.meta
*.meta
KinectHackEvent/Library/metadata/00/00000000000000002000000000000000
*.dwlt
KinectHackEvent/Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Bridge.dll.meta
